@using Microsoft.AspNet.Identity
<li class="dropdown-header">Actividades</li>
<li> @Html.ActionLink("Mis clases", "MyEnrollments", "Enrollment", new { Id = User.Identity.GetUserId() }, null)</li>
<li> @Html.ActionLink("Consultar mas clases", "Index", "Activity", new { Id = User.Identity.GetUserId() }, null)</li>
<li> @Html.ActionLink("Historico", "List", "Enrollment", new { Id = User.Identity.GetUserId() }, null)</li>
