@using Microsoft.AspNet.Identity
<li class="dropdown-header">Gestionar</li>
<li> @Html.ActionLink("Alta nuevo empleado", "NewEmployee", "User")</li>
<li> @Html.ActionLink("Gestionar clases", "ListActivities", "Activity")</li>


