@using Microsoft.AspNet.Identity
<li class="dropdown-header">Gestionar</li>
<li> Alta nuevo empleado</li>
<li> @Html.ActionLink("Gestionar clases", "ListActivities", "Activity")</li>
<li> Reportes</li>

