@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger"><strong>Lo sentimos! </strong> Ocurrio un error mientras se procesaba el requerimiento. Por favor intente mas tarde</h2>

