body {
    padding-top: 70px;
}
.footer {
    padding-bottom:70px;
}
.field-validation-error {
    color:red;
}
.input-validation-error {
    border:solid;
    border-color:red;
}
.sportClubContent {
    margin-right:60px;
    margin-left:60px;
}

