body {
    padding-top: 70px;
}
.footer {
    padding-bottom:70px;
}
.field-validation-error {
    color:red;
}
.input-validation-error {
    border-bottom:solid !important;
    border-color:red !important;
}
.sportClubContent {
    margin-right:60px;
    margin-left:60px;
}
.modal-backdrop {
    z-index: -1 !important;
    position: relative !important;
}
.validation-summary-errors > ul > li {
    color: red !important;
}

