@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<h2>
    Confirmacion de olvido de contraseña
</h2>
<hr />
<div>

    <p class="text-center">
        Por favor revisa to correo para reestablecer tu contraseña.
    </p>
</div>
	
