@{
    ViewBag.Title = "Reset password confirmation";
}

<h2>
    Confirmacion de reestablecimiento de contraseña.
</h2>
<div>
    <p class="text-center">
        Tu contraseña ha sido reestablecida. Por favor, @Html.ActionLink("hace click aqui para ingresar.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
