
@{
    ViewBag.Title = "Listado de actividades";
}

<h2> Usuarios </h2>
<hr />

<div id='calendar'></div>


@section scripts{
    <script>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...
            
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                locale: 'es',
                defaultView: 'listDay',
                height: 'auto',
                header: {
                    left:'',
                    center: 'title',
                    right: 'prev,next'
                },
                eventClick: function (event, jsEvent, view) {
                    var activityId = event.id;
                    if (event.allowEnrollment) {

                        bootbox.confirm(
                            {
                                "backdrop": false,
                                "title": "Clase",
                                "message": "<h4>Desea consultar esta clase?</h4>" +
                                    //"<br /> <b>Id: </b>" + event.id +
                                    "<br /> <b>Nivel: </b>" + event.level + 
                                    "<br /> <b>Plan: </b>" + event.membership +
                                    "<br /> <b>Vacantes: </b>" + event.pendings,
                                "callback": function (result) {
                                    if (result) {
                                        window.location.replace("/Activity/Activity/" + event.id);
                                        
                                    }
                                }
                            });




                    }
                },
                eventSources: [
                    {
                        url: '/api/activities/',
                        type: 'GET',
                        error: function () {
                            alert('there was an error while fetching events!');
                        }

                    }
                ],
                businessHours: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    dow: [1, 2, 3, 4, 5, 6], // Monday - Thursday

                    start: '8:00', // a start time (10am in this example)
                    end: '21:00' // an end time (6pm in this example)
                },

                eventRender: function (event, element) {
                    element.find('.fc-list-item-title').append("<br/> Nivel: " + event.level+"<br/> Pendientes: " + event.pendings);
                }, 
                //minTime: "08:00:00",
                //maxTime: "21:00:00",
                //allDaySlot: false,
                //height: 'auto'
            });
        });
    </script>
}