
@{
    ViewBag.Title = "Listado de actividades";
}

<h2> Actividades </h2>
<hr />

<div id='calendar'></div>


@section scripts{
    <script>
        $(document).ready(function () {
            
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                locale: 'es',
                defaultView: 'listDay',
                height: 'auto',
                header: {
                    left:'',
                    center: 'title',
                    right: 'prev,next'
                },
                loading: function (isLoading, view) {
                    
                },
                eventClick: function (event, jsEvent, view) {
                    var activityId = event.id;
                    
                    //if (event.allowEnrollment) {

                        bootbox.confirm(
                            {
                                "backdrop": false,
                                "title": "Clase",
                                "message": "<h4>Desea consultar esta clase?</h4>" +
                                    //"<br /> <b>Id: </b>" + event.id +
                                    "<br /> <b>Nivel: </b>" + event.level + 
                                    "<br /> <b>Plan: </b>" + event.membership +
                                    "<br /> <b>Cupos disponibles: </b>" + event.pendings,
                                "callback": function (result) {
                                    if (result) {
                                        window.location.replace("/Activity/Activity/" + event.id);
                                        
                                    }
                                }
                            });
                    //}
                },
                eventSources: getEventsFromDate($('#calendar').fullCalendar('getDate')),
                
                businessHours: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    dow: [1, 2, 3, 4, 5, 6], // Monday - Thursday

                    start: '8:00', // a start time (10am in this example)
                    end: '21:00' // an end time (6pm in this example)
                },

                eventRender: function (event, element) {
                    element.find('.fc-list-item-title').append("<br/> Plan: " + event.membership + "<br/> Nivel: " + event.level + "<br/> Cupos disponibles: " + event.pendings);
                }, 
                
            });

            $('.fc-prev-button').click(function () {
                clearEventSources();   
                addEventSourceToCalendar();
            });

            $('.fc-next-button').click(function () {
                clearEventSources();
                addEventSourceToCalendar();
            });

        });
        function clearEventSources() {
            var eventSources = $('#calendar').fullCalendar('getEventSources');
            $('#calendar').fullCalendar('removeEvents');
            for (var i = 0; i < eventSources.length; i++) {
                //console.log(eventSources[i].url);
                $('#calendar').fullCalendar('removeEventSource', eventSources[i].url);
            }

        }       
        function addEventSourceToCalendar() {
            var moment = $('#calendar').fullCalendar('getDate');
            var date = new Date(moment.format());
            var url = '/api/activities/' + date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate()
            $('#calendar').fullCalendar('addEventSource', url);
        }


        function getEventsFromDate() {

            var date = new Date();
            var url = '/api/activities/' + date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate();
            return [
                {
                    
                    url: url,
                    type: 'GET',
                    error: function () {
                        alert('No se encontraron actividades!');
                    }
                }
            ];
        }
    </script>
}