@{
    ViewBag.Title = "Inicio";

}

@if (TempData["passwordChanged"]!= null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Se ha cambiado la contraseña correctamente!
    </div>
}


<div class="jumbotron">
    <h1>Gestion De piletas de Sport Club</h1>
    <p class="lead">Bienvenido al sistema de gestion de piletas de Sport Club!.</p>
    <p>Que desea hacer hoy? </p>
</div>

