@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Inicio";

}

@if (TempData["passwordChanged"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Se ha cambiado la contraseña correctamente!
    </div>
}

<div class="jumbotron">
    <h1>Escuela de natación de Sport Club</h1>
    <p class="lead">Bienvenidos a nuestra escuela de natación!.</p>
    <p>Que desea hacer hoy? </p>
</div>

<input type="hidden" id="userId" name="userId" value="@User.Identity.GetUserId()">

@if(this.User.IsInRole("Socio"))
{
    <div class="row">
        <div class="col-xs-12 col-md-offset-4 col-md-4 img-rounded img-thumbnail">
            <div class="js-user-info" data-user-id="@User.Identity.GetUserId()">

            </div>
        </div>

    </div>

}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //var userId = $(".js-user-info").attr('data-user-id');
            var userId = $("#userId").val();
            var infoDiv = $(".js-user-info");
            var date = new Date();
            var from = date.toLocaleString();
            var status = 1;//buscar status pendientes
            //console.log(userId);
            $.ajax({
                url: "/api/users/" + userId,
                method: "GET",
                success: function (user) {
                    
                    infoDiv.append("<p> Cantidad de clases disponibles " + user.amountOfPendingActivities + "</p>");
                    var paymentDate = new Date(user.lastPaymentDate);
                    var dueDate = new Date(user.dueDate);
                    if (Date.now() > dueDate) {
                        toastr.warning("Cuota vencida, debe abonar la cuota para inscribirse a las clases");
                        infoDiv.append('<p class="cuota-vencida">Cuota vencida, debe abonar la cuota para inscribirse a las clases</p>');
                    }
                    infoDiv.append("<p> Vigencia desde " + completeWithZero(paymentDate.getDate()) + "/" + completeWithZero((paymentDate.getMonth() + 1)) + "/" + paymentDate.getFullYear() + " hasta " + completeWithZero(dueDate.getDate()) + "/" + completeWithZero((dueDate.getMonth() + 1)) + "/" + dueDate.getFullYear() + "</p>");
                    
                    $.ajax({
                        url: "/api/users/" + userId + "/enrollments/?fromDate=" + from + "&status=" + status,
                        method: "GET",
                        success: function (enrollments) {
                            if (enrollments.length == 0) {
                                var ref = "\"/activity/index/" + userId+"\""; 
                                infoDiv.append("No esta inscripto a ninguna clase, <a href="+ref+">inscribirse a una clase...</a>");
                            }
                            else {
                                var date = new Date(enrollments[0].start);
                                infoDiv.append("<p> Inscripto a " + enrollments.length + " clases </p>");
                                infoDiv.append("Su proxima clase es el dia " + completeWithZero(date.getDate()) + "/" + completeWithZero((date.getMonth() + 1)) + "/" + date.getFullYear() + " a las " + completeWithZero(date.getHours()) + ":" + completeWithZero(date.getMinutes())+ " hs");
                            }
                        }
                    });


                }
            });
        });
        function completeWithZero(number) {

            return number < 10 ? '0' + number : number + '';

        }

    </script>
}