@{
    ViewBag.Title = "Usuarios";

}

<h2> Usuarios </h2>
<hr />
<a class="btn btn-primary" href="@Url.Action("New","User")">Crear usuario</a>
<br />
<br />
<div class="row">
    <div class="col-xs-12">
       
            <table id="customers" class="table table-hover table-bordered">
                <thead>
                    <tr class="bg-primary">
                        <th>Usuario</th>
                        <th>DNI</th>
                        <th>Email</th>
                        <th>Plan</th>
                        <th>Nivel</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        
    </div>
</div>

@section scripts
{
<script>
        $(document).ready(
            function () {

               var table = $("#customers").DataTable(
                    {
                        ajax: {
                            url: "/api/users",
                            dataSrc:""
                        },
                        language: {
                            url: "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                        }
                        ,
                        columns: [
                            {
                                data: "name",
                                render: function (data,type,user) {
                                    return  user.name + " " + user.lastName;
                                }
                            },
                            {
                                data: "dni"
                            },
                            {
                                data: "email",
                            },
                            {
                                data: "membershipType.name",
                            },
                            {
                                data: "level.name",
                            },
                            {
                                data: "id",
                                render: function (data, type, user) {
                                    var edit = "<a  class='btn-link' href='/user/edit/" + user.id + "'> Editar </a>";
                                    var del = "<button type='button' class='btn-link js-delete' data-customer-id=" + data + "> Borrar </button>";
                                    var blank = "<a  class='btn-link' href='/manage/SetPassword/" + user.id + "'> Blanquear pass </a>";
                                    return edit + " | " + del + " | " + blank;
                                }
                            }
                        ]
                    }
                );


                $("#customers").on("click", ".js-delete",
                    function () {
                        var button = $(this);
                        console.log("Aprete el boton delete");
                       
                        bootbox.confirm(
                            {
                                "backdrop": false,
                                "title": "Confirmacion",
                                "message": "Seguro que desea eliminar este usuario?",
                                "callback": function(result) {
                                    if (result) {
                                        $.ajax(
                                            {
                                                url: "/api/users/" + button.attr("data-customer-id"),
                                                method: "DELETE",
                                                success: function () {
                                                    table.row(button.parents("tr")).remove().draw();

                                                }
                                            }
                                        );
                                    }
                                }
                            });

                    }
                );
            }

        );
</script>
}
