@model List<gestionDePiletaSportClub.Models.MembershipType>
@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>
@foreach (gestionDePiletaSportClub.Models.MembershipType m in Model) {
   <h3>@m.Name (@m.Description)</h3>

}

